@font-face {
    font-family: "Gilgongo";
    src: url(../fonts/gilgongo.regular.ttf);
}

html {
    box-sizing: border-box;
}

*, *::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 90px;
    margin-left: 20px;
}

h1 {
    font-family: 'Gilgongo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    padding: 0;
    margin-left: 30px;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
}

a {
    text-decoration: none;
}

.cta {
    background: #ff5d05;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 10px 80px;
    border-radius: 5px;
}

.cta-small {
    padding: 8px 30px;
    font-size: 0.8em;
}

.cta-sale {
    background: #0dc20d;
    color: #ffffff;
}


header, 
footer {
    background: #085237;
    color: #ffffff;
}

footer {
    text-align: center;
}


/* Home page */
.welcome {
    position: relative;
    top: -20px;
    background: url('../images/Jarritos\ home.jpg') no-repeat center center;
    background-size: cover;
    min-height: 70vh;
    color: #085237;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d4c1a5;
    padding: 15px;
    color: #ffffff;
}

.reviews p {
    margin-right: 50px;
    width: 300px;
}

.review-images {
    width: 200px;
    height: auto;
    border-radius: 10%;
    border: 2px solid #ffffff;
}


/* Drinks page */





/* Contact page */