@font-face {
    font-family: "Gilgongo";
    src: url(../fonts/gilgongo.regular.ttf);
}

html {
    box-sizing: border-box;
}

*, *::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 90px;
    margin-left: 20px;
}

h1, 
h2 {
    font-family: 'Gilgongo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    padding: 0;
    margin-left: 30px;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
}

a {
    text-decoration: none;
}

.cta {
    background: #ff5d05;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 10px 80px;
    border-radius: 5px;
}

.cta-small {
    padding: 8px 30px;
    font-size: 0.8em;
}

.cta-sale {
    background: #0dc20d;
    color: #ffffff;
}


header, 
footer {
    background: #085237;
    color: #ffffff;
}

footer {
    text-align: center;
}


/* Home page */
.welcome {
    position: relative;
    top: -20px;
    background: url('../images/Jarritos\ home.jpg') no-repeat center center;
    background-size: cover;
    min-height: 70vh;
    color: #085237;
}

.welcome-content {
    position: absolute;
    top: 100px;
    left: 60px;
}

.reviews-content {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.reviews-content>* {
    flex: 1;
}

.reviews {
    background: #cfc5b2;
    text-align: center;
    padding: 50px;
}

.reviews-content {
    gap: 30px;
    text-align: left;
}

.reviews-content em {
    display: block;
    margin-top: 20px;
}

.review-images {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 40px;
    float: right;
}


/* Drinks page */





/* Contact page */